/* ==========================================================================
   thib theme skin
   ========================================================================== */

/* Colors */
$base-color: #F171A2 !default;
$text-color: #252a34 !default;
$accent-color: #F171A2 !default;
$background-color: #e5e6eb !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;
$sidebar-background-color: #d4d6db;

// Fonts
$headline-font-family: "MuseoModerno" !default;
$base-font-family: "Lato", sans-serif !default; 